{% extends "layout.twig" %}

{% block content %}
<div class="container-lg mt-5">
    <h1>Сайты</h1>

    {% include "partials/urls_list.twig" with {'data_test': 'urls', 'include_header': true} %}
</div>
{% endblock %}
