<form action="/urls" method="post" class="mt-3 mb-3">
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <input
                    type="text"
                    class="form-control {% if validationError is defined and validationError %}is-invalid{% endif %}"
                    id="url-input"
                    name="url[name]"
                    placeholder="https://www.example.com"
                    {% if urlInput is defined %}value="{{ urlInput }}"{% endif %}
                    required>
                <label for="url-input">Url для проверки</label>
                {% if validationError is defined and validationError %}
                    <div class="invalid-feedback">
                        {{ validationError }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary btn-lg px-5" value="Проверить">
        </div>
    </div>
</form>
