/vendor/
/.env
/.idea
/.vscode
/node_modules
/logs
*.log
*.cache
composer.phar
.DS_Store
.phpunit.result.cache
*.swp
*.swo

# Docker
.docker/
docker-compose.override.yml

# Cache directory
/var/cache/
/var/cache/proxies/ 