parameters:
    level: 9
    paths:
        - public
        - views
    excludePaths:
        - vendor
    # Add bootstrap files for autoloading
    bootstrapFiles:
        - vendor/autoload.php
        - phpstan-stubs.php
