parameters:
    level: 9
    paths:
        - public
        - tests
    excludePaths:
        - vendor
    # Add bootstrap files for autoloading
    bootstrapFiles:
        - vendor/autoload.php
    # Tell PHPStan about test case methods
    earlyTerminatingMethodCalls:
        PHPUnit\Framework\TestCase:
            - fail
            - markTestIncomplete
            - markTestSkipped

includes:
    - phpstan-baseline.neon
