parameters:
    level: 9
    paths:
        - public
        - tests
    excludePaths:
        - vendor
    # Add bootstrap files for autoloading
    bootstrapFiles:
        - vendor/autoload.php
        - vendor/phpunit/phpunit/src/Framework/Assert.php
        - vendor/phpunit/phpunit/src/Framework/TestCase.php
        - tests/bootstrap.php
    scanDirectories:
        - vendor/phpunit/phpunit/src
