{% extends 'layouts/app.twig' %}

{% block title %}401 - Unauthorized | Анализатор страниц{% endblock %}

{% block content %}
<div class="container-lg mt-5">
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <h1 class="h4 m-0">401 - Требуется авторизация</h1>
                </div>
                <div class="card-body">
                    <p>{{ error ?? 'У вас нет доступа к этой странице. Пожалуйста, выполните вход в систему.' }}</p>
                    <a href="/" class="btn btn-primary">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 